{% load bootstrap4 %} 
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Comment</title>
  {{form.media}}
  {% block styles %} 
  {% bootstrap_css %}
 
  {% endblock %}
</head>
<body>
<div class="container-fluid" style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQq5za5BwKPDyGGq6Ex2s95zbrzp_V65Op92Q&usqp=CAU') ;background-repeat:no-repeat;background-size:cover;height:100vh;color:white;font-family: 'Jacques Francois', serif;padding-top:30px;">
  <form  action="{%url 'comment' proj_id%}" method="post" enctype="multipart/form-data" style="margin-right:15%;margin-left:15%;">
    {%csrf_token%}
    {% bootstrap_form form%}
    <input type="submit" class="btn btn-outline-info btn-lg" value="Post">
  </form>
   {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %} 
  {% endblock %}
</div>
</body>
</html>