{%extends 'base.html'%}
{% load static %}
{% block content %}
{{block.super}}


<div class="jumbotron"
    style="background-image:url('https://img.freepik.com/free-vector/luxury-award-nomination-background_165286-124.jpg?size=626&ext=jpg') ;background-repeat:no-repeat;background-position:center center;background-size:cover;height:100vh;margin-top:-1;color:black;">

    <h1 class="text-center" style="color:khaki;margin-top:6%;">PROJECTS</h1>

</div>



<div class="container" style="padding-top: 3%;">
    <h2 class="text-center" style="margin-bottom: 3%;">Submitted Projects</h2>
    <div class="row">
        {% for pro in all_projects %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-lg">
                <a href="{% url 'oneproject' pro.id %}">
                    <img src="{{pro.project_image.url}}" width="100%">
                </a>
                <div class="card-body">
                    
                        <span>{{pro.title}} </span>
                        <span style="margin-left: 30%;"><small>{{pro.date|date:"F d,Y"}}</small> </span><br>

                    <div class="foot">
                     <small>{{pro.description}}</small><br><br>
                        <span><small style="text-transform:capitalize;">{{pro.user}}</small> </span>
                    
                    </div>

                    
                </div>
               

            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}

{% block scripts %}
{{block.super}}
<script type="text/javascript" src="{%static 'js/newsletter.js'%}">
</script>
{% endblock %}