<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/83d474e45f.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Trocchi&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-white bg-white static-top" style="background-color:white;border:3px solid black;font-family: 'Trocchi', serif;">
        <div class="container">

            <div class="home">
                <a class="navbar-brand" href="{%url 'index'%}">

                    <span><i class="fas fa-trophy" style="color: black;">Project</i></span>

                </a>
            </div>

            <form action="{% url 'search' %}" class="form-inline my-2 my-lg-0">
                <input type="text" class="input-sm form-control" name="project_name" placeholder="Search" style="border-radius:10px;">

            </form>

            <div class="dropdown">
                <a class="btn btn-default dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" margin-top: 4%">
                    API
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="background-color:transparent">
                    <a class="dropdown-item" href="{% url 'profile' %}" style="color:khaki">Profile API</a>
                    <a class="dropdown-item" href="{% url 'project' %}" style="color: khaki">Project API</a>
                </div>
            </div>





            {% if user.is_authenticated %}
            <ul class="nav justify-content-end">

                <a class="nav-link" href="{%url 'upload'%}" style="color:black;">Submit project</a>



                <a class="nav-link" href="{%url 'myprofile'%}"
                    style="font-family: 'Noto Serif JP', serif;color:black;text-transform:capitalize;"><i
                        class="fas fa-user fa-sm"></i>{{user.username}}</a>

                <div class="dropdown" style="margin-top: 4%">
                    <a class="down" data-toggle="dropdown" style="font-family: 'Noto Serif JP', serif;color:black;"><i
                            class="fa fa-sun-o" style="font-size: 28px;color: black;"></i></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{%url 'index'%}"
                            style="font-family: 'Noto Serif JP', serif;color:black;">home</a>
                        <a class="nav-link" href="/accounts/register/" style="color:black">Register</a>
                      
                        <a class="dropdown-item" href="/accounts/password/change"
                            style="font-family: 'Noto Serif JP', serif;color:black;">Change Password</a>
                        <a class="dropdown-item" href="/logout"
                            style="font-family: 'Noto Serif JP', serif;color:black;">Logout</a>
                    </div>
                </div>
                {% else %}
                
                    <a class="nav-link" href="/accounts/login"
                        style="font-family: 'Noto Serif JP', serif;color:black;">Login</a>
               
            </ul>
            {% endif %}
        </div>

        </div>
        </div>
    </nav>

</body>

</html>