{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<div class="container" style="margin-top:3%;font-family: 'Lancelot', cursive;">
  <div class="row">
    <div class="col-md-7">
      <div class="card mb-4 shadow-sm">
        {% for image in ones_project %}
        <span style="font-weight: bold;font-size: 20px; margin:3%">{{image.title}}</span>
        <a href="{{image.link}}">
        <img src="{{image.project_image.url}}" width="100%"></a>
        <div class="card-body">
         
          <span style="float:right">
            <a href="{%url 'comment' image.id%}" class="btn btn-default btn-sm">Add Comment</a></span>
              
          <p style="font-size: 15px;">{{image.description}}</p>
          <p
            style="font-weight: bold;font-size: 15px;color: rgba(0, 0, 0, 0.459);margin-top: 3px;">
            View all comments...</p>
          {% for reviews in image.comments_set.all %}
          <span>
            <p style="font-size: 15px;margin-top: -0.3cm;">
              <span
                style="font-weight: bold; font-size: 15px">{{reviews.posted_by.user | lower }}</span> {{reviews.comment}}
            </p>
          </span>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="row text-center">
        <div class="col-md-3">
          <h5>Content </h5>
          <hr class="bg-default"><br>
          <h6>{{content}}.0</h6>
        </div><br>
        <div class="col-md-3">
          <h5>Usability </h5>
          <hr class="bg-default"><br>
          <h6>{{usability}}.0</h6>
        </div><br>
        <div class="col-md-3">
          <h5>Design</h5>
          <hr class="bg-default"><br>
          <h6>{{design}}.0</h6>
        </div>
      </div>
      <a href="{{image.link}}" class="btn btn-pink btn-md pull-right" target="_blank"><i
          class="far fa-chevron-double-right"></i></a>
      <button class="btn btn-outline-info text-center" type="button" data-target="#votesform" data-toggle="modal">Rate
        Us</button>
      <hr>
      <!-- not typed -->
      <div class="modal fade" id="votesform" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h4 class="modal-title w-100 font-weight-bold" id="vote">Vote</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mx-3">
              <div class="form animated slideInDown">
                <form action="{% url 'oneproject' image.id %}" method="POST">
                  {% csrf_token %}
                  {% bootstrap_form form %}
                  <button class="btn btn-outline-info modal-footer d-flex justify-content-center" type="submit">Submit
                    <i class="fas fa-paper-plane-o ml-1"></i> </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->
      {% endfor %}
      <div class="card comments">
        <div class="card-header">
          <h5> Total Numbers of Votes: {{all_ratings|length}} </h5>
        </div>
        <div class="list-group">
          <ul class="list-group">
            {%if all_ratings%}
            <table id='comm' class="table">
              <th>Voters</th>
              <th>Ratings</th>
              {%for votes in all_ratings%}<tr>
                <td>
                  {{votes.user}}</td>
                <td>
                  <div class="design">
                    <a href="" class="scores">{{votes.design}}</a>
                    <a href="">{{votes.usability}}</a>
                    <a class='b' href="">{{votes.content}}</a>
                  </div>
                </td>
                {%endfor%}
            </table>
            {%else%}
            <li class="list-group-item alert alert-info">No votes Available</li>
            {%endif%}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
