{%extends 'base.html'%}
{% block content %}
<div class="container">
  <div class="row" style="margin-top:4%">
    {% if project%}
    <h5 class='text-center'>You have {{ project|length }} project with name {{message }}</h2>
        {% else %}
        <h5 class="text-center"> You have 0 project with name search <strong>{{message}}</strong></h5>
        <a class="d-block mx-auto" href="/">
            <button class="btn btn-sm btn-outline-info d-block mx-auto">Back Home</button>
        </a>
        {% endif %}
        <hr style="margin-left:5%;margin-right:12%">
    {% if project %}
    {% for proname in project %}
    <div class="col-md-4">
      <h3>{{proj.title}}</h3>
      <img src="{{proname.project_image.url}}" width="400" height="300" class="img-responsive" alt="Image">
      <p style="margin-top: 5%">{{proname.description}}</p>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}